<div class="hero">
  <nav class="menu">
    <%= link_to 'Deputados Federais', deputados_list_path %>
    <%= link_to 'Quem Somos', about_path %>
  </nav>
  <h2>
    <span>in</span>Politica
  </h2>
  <div class="search-bar">
    <input type="text" id="myInput" onkeyup="myFunction()" name="name" placeholder="Encontre o deputado federal que deseja votar...">
  </div>
</div>

<p id="teste"></p>

<div class="deputados-page general-page">
<ul class="deputados-list" id="myList">
  <p id="demo"></p>
        <% @deputados.each do |deputado| %>
        <li>
          <div>
            <%= link_to  deputado do %>
            <div class="picture" style="background-image: url('<%= deputado.url_foto %>');"></div>
            <span class="name" ><%= deputado.nome[0..19] if deputado.nome %></span>
            <span class="party"><%= deputado.partido.nome if deputado.partido %></span>
            <% end %>
          </div>
        </li>
        <% end %>
</ul>

</div>
<br>



<script>
function myFunction() {
  var input, filter, list, li, div, i,x = 0;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  list = document.getElementById("myList");
  li = list.getElementsByTagName("li");

  document.getElementById("demo").innerHTML;
  for (i = 0; i < li.length; i++) {
    document.getElementById("demo").innerHTML = "";
    div = li[i].getElementsByTagName("div")[0];
    
    span = div.getElementsByClassName("name")[0].textContent;
    if (span) {
      if (span.toUpperCase().indexOf(filter) > -1) {
        
        li[i].style.display = "";
        x += 1;
      } else {
        
        li[i].style.display = "none";
      }
    }     
  }if(x==0)
      {
        
            document.getElementById("demo").innerHTML = "Sem resultados";
            
      }  
      
   
}
</script>



<section class="about">
  <div class="col">
    <div class="circle"></div>
    <h4>O que queremos?</h4>
    Buscamos trazer transparência para o cenário político atual, permitindo que a sociedade em geral possa ver os gastos orçamentários
    dos atuais deputados federais.
  </div>
  <div class="col">
    <div class="circle alt"></div>
    <h4>Justificativa</h4>
    Com as eleições de 2018 perto de chegar, identificamos a necessidade de conhecer melhor os atuais componentes do Congresso Nacional, em especial a Câmara de Deputados. Por causa disso, resolvemos criar o InPolitica como uma vitrine para o povo brasileiro, buscando entregar transparência, conscientização e a possibilidade de conhecerem mais sobre os que os representam perante o Estado.
  </div>
</section>

<!--

-->