<div class="hero">
  <nav class="menu">
    <%= link_to 'Deputados Federais', deputados_list_path %>
    <a href="#">Gastos por estado</a>
    <%= link_to 'Quem Somos', about_path %>
  </nav>
  
  <h2>
    <span>in</span>Politica
  </h2>
  
  <div class="search-bar">
    <input type="text" id="myInput" onkeyup="myFunction()" name="name" placeholder="Encontre o deputado federal que deseja votar...">
  </div>
  
</div>

<section class="">
  <p id="notice"><%= notice %></p>
<h1>Listing Deputados</h1>

<table id="myTable">
  <thead>
    <tr class="header">
      <th>Nome</th>
      <th>Idade</th>
      <th>Url foto</th>
      <th>Partido</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<p id="demo"></p>
  <tbody>
    <% @deputados.each do |deputado| %>
      <tr>
        <td><%= deputado.nome %></td>
        <td><%= deputado.idade %></td>
        <td><%= deputado.url_foto %></td>
        <td><%= deputado.partido.nome if deputado.partido %></td>
        <td><%= deputado.partido.nome if deputado.partido %></td>
        <td><%= link_to 'Show', deputado %></td>
        <td><%= link_to 'Edit', edit_deputado_path(deputado) %></td>
        <td><%= link_to 'Destroy', deputado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'New Deputado', new_deputado_path %>
</section>

<script>
function myFunction() {
  var input, filter, table, tr, td, i,x = 0;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  
  for (i = 0; i < tr.length; i++) {
    document.getElementById("demo").innerHTML = "";
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        x += 1;
      } else {
        tr[i].style.display = "none";
      }
    }     
  }if(x==0)
      {
            document.getElementById("demo").innerHTML = "Sem resultados";
      }  
}
</script>



<section class="about">
  <div class="col">
    <div class="circle"></div>
    <h4>O que queremos?</h4>
    Buscamos trazer transparência para o cenário político atual, permitindo que a sociedade em geral possa ver os gastos orçamentários
    dos atuais deputados federais.
  </div>
  <div class="col">
    <div class="circle alt"></div>
    <h4>Justificativa</h4>
    Com as eleições de 2018 perto de chegar, identificamos a necessidade de conhecer melhor os atuais componentes do Congresso Nacional, em especial a Câmara de Deputados. Por causa disso, resolvemos criar o InPolitica como uma vitrine para o povo brasileiro buscando entregar trasparência, conscientização e a possibilidade de conhecerem mais sobre os que os representam perante o Estado.
  </div>
</section>

<!--

-->