<p id="notice"><%= notice %></p>

<h1>Listing Deputados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Url foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deputados.each do |deputado| %>
      <tr>
        <td><%= deputado.nome %></td>
        <td><%= deputado.idade %></td>
        <td><%= deputado.url_foto %></td>
        <td><%= link_to 'Show', deputado %></td>
        <td><%= link_to 'Edit', edit_deputado_path(deputado) %></td>
        <td><%= link_to 'Destroy', deputado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deputado', new_deputado_path %>
