<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @deputado.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @deputado.idade %>
</p>

<p>
  <strong>Url foto:</strong>
  <%= @deputado.url_foto %>
</p>

<%= link_to 'Edit', edit_deputado_path(@deputado) %> |
<%= link_to 'Back', deputados_path %>
