<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>InPolitica</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @isIndex %>
  
<% else %>
  <header>
    <div class="logo">
      <a href="/"><span>in</span>Politica</a>
    </div>
    <nav>
      <%= link_to 'Deputados Federais', deputados_list_path %>
      <a href="#">Gastos por Estado</a>
      <%= link_to 'Quem Somos', about_path %>
    </nav>
  </header>
  <section class="banner"></section>
<% end %>
  
<div class="page">
  <%= yield %>
</div>

<footer>
  IF977 (CIn/UFPE) &middot; 2017
</footer>
</body>
</html>
