<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @partido.nome %>
</p>

<p>
  <strong>Total gasto:</strong>
  <%= @partido.total_gasto %>
</p>

<%= link_to 'Edit', edit_partido_path(@partido) %> |
<%= link_to 'Back', partidos_path %>
