<p id="notice"><%= notice %></p>

<h1>Listing Gastos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Informacao</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Deputado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.titulo %></td>
        <td><%= gasto.informacao %></td>
        <td><%= gasto.data %></td>
        <td><%= gasto.valor %></td>
        <td><%= gasto.deputado %></td>
        <td><%= link_to 'Show', gasto %></td>
        <td><%= link_to 'Edit', edit_gasto_path(gasto) %></td>
        <td><%= link_to 'Destroy', gasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gasto', new_gasto_path %>
